<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }

        a:hover {
            color: orange;
            text-decoration: none;
        }

        table :hover {
            cursor: pointer;
        }

        #singleFileUpload, #folderUpload, #folderCreate {
            display: none;
            margin: 2px;
        }

        .edit-menu {
            margin-bottom: 10px;
        }

        .UpButton {
            font-size: 24px;
        }

        td .glyphicon-folder-open {
            color: gold;
        }

        th {
            background-color: wheat;
        }

            th a {
                color: black;
                text-decoration: none;
            }

        #searchSbt {
            display: none;
        }

        .progress {
            position: relative;
            width: 390px;
            border: 1px solid #ddd;
            padding: 1px;
        }

        .progress-bar {
            width: 0px;
            height: 20px;
            background-color: #57be65;
        }
    </style>

</head>
<body class="container">
    <nav class="row">
        <ul class="nav nav-pills nav-justified  img-rounded thumbnail">
            <li class="text-center"><strong>ShareBox</strong></li>
            <li>
                @using (Html.BeginForm("SearchFiles", "File", FormMethod.Post, new {@id="SearchForm", @class = "form-inline" }))
            {
                    <input type="text" class="form-control" placeholder="Поиск" name="searchString"/>
                    <input type="hidden" value="@ViewBag.RootSharingId" name="RootSharingId" />
                    <span class="glyphicon glyphicon-search" onclick="SearchClick()">
                        <input type="submit" id="searchSbt" />
                        @if (ViewBag.Folder != null)
                        {
                        <input type="hidden" value="@ViewBag.Folder.Id" name="ParentId" />
                        }
                    </span>
                }
            </li>
            <li>@Html.ActionLink("Files", "Index", "File")</li>
            <li>@Html.ActionLink("Shared", "SharedList", "File")</li>
            <li>@Html.ActionLink("Account", "Index", "Manager")</li>
        </ul>
    </nav>
    <div class="row">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <script>
        function SearchClick()
        {
            $("#SearchForm").submit();
        }
    </script>
</body>
</html>