<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        .container {
            padding-top: 10px;
        }

        .validation-summary-errors {
            color: #f00;
        }
        a:hover {
            color: orange;
            text-decoration: none;
        }

        table :hover {
            cursor: pointer;
        }

        #singleFileUpload, #folderUpload, #folderCreate {
            display: none;
            margin: 2px;
        }

        .edit-menu {
            margin-bottom: 10px;
        }

        .UpButton {
            font-size: 24px;
        }
        td .glyphicon-folder-open{
            color:gold
        }
    </style>

</head>
<body class="container">
    <nav class="row">
        <ul class="nav nav-pills nav-justified  img-rounded thumbnail">
            <li class="text-center"><strong>ShareBox</strong></li>
            <li><input type="text" class="form-control" placeholder="Search" /></li>
            <li>@Html.ActionLink("Files", "Index", "File")</li>
            <li>@Html.ActionLink("Shared", "SharedList", "File")</li>
            <li>@Html.ActionLink("Account", "Index", "Manager")</li>
        </ul>
    </nav>
    <div class="row">
        <div class="container">
            @RenderBody()
        </div>
    </div>

</body>
</html>