@model WebStorage.UI.Models.UserViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="logform" style="color:white;">
    @Html.ValidationSummary()
    @using (Html.BeginForm("Create", "Manager", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Логин", new { @class = "col-md-2 control-label", style = "color:white" })
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Пожалуйста, введите логин:" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Е-мейл", new { @class = "col-md-2 control-label", style = "color:white" })
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Пожалуйста, введите е-мейл:" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Пароль", new { @class = "col-md-2 control-label", style = "color:white" })
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Пожалуйста, введите пароль:" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @ViewBag.ReCaptcha
                @if (ViewBag.RecaptchaLastErrors != null)
                {
                    <div>Oops! Invalid reCAPTCHA =(</div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                @Html.ActionLink("Отмена", "Login", "Account", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>







