@model IEnumerable<WebStorage.Domain.Entities.SystemFile>

<!DOCTYPE html>


<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Scripts/rightClickMenu.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <link href="~/Content/File.css" type="text/css" rel="stylesheet" />
    <style>
        .hiddenSubmit, .hiddenTextBox {
            display: none;
        }

        td .glyphicon-folder-open:hover, td .glyphicon-file:hover {
            color: orange;
        }
    </style>
</head>

<body>
    <div class="row ">
        <div class="col-lg-1 UpButton">
            @if (ViewBag.Folder != null)
            {
                @Html.ActionLink(" ", "Index", new { folderId = ViewBag.Folder.ParentId }, new { @class = "glyphicon glyphicon-level-up  " })
            }
        </div>
        <div class="col-lg-6 UpButton">
            @if (ViewBag.Folder != null)
            {
                <strong> @ViewBag.Folder.Name</strong>
            }
        </div>
        <button onclick="forSingleFileForm()" class="btn btn-default col-lg-1 col-lg-offset-2">
            <span class="glyphicon glyphicon-file">
            </span>
            <span class="glyphicon glyphicon-upload">
            </span>
        </button>
        <button onclick="forFolderForm()" class="btn btn-default col-lg-1 ">
            <span class="glyphicon glyphicon-folder-open">
            </span>
            <span class="glyphicon glyphicon-upload">
            </span>
        </button>
        <button onclick="forFolderCreate()" class="btn btn-default col-lg-1">
            <span class="glyphicon glyphicon-folder-open">
            </span>
            <span class="glyphicon glyphicon-plus">
            </span>
        </button>
    </div>
    <div class="row edit-menu">
        <div id="singleFileUpload" class="row text-center">
            Загрузка файлов
            @using (Html.BeginForm("Create", "File", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", @name="uploadForm" }))
            {
                <span id="uploadErr" hidden>Загрузка отменена. Один из загружаемых файлов по размеру превышает 100Mb</span>
                <br />
                <input class="form-control  " type="file" name="uploadedFile" id="uploadedFile" multiple />
                <input class="form-control" type="submit" value="Загрузить" />
                <div class="progress center-block">
                    <div class="progress-bar">0%</div>
                </div>
                if (ViewBag.Folder != null)
                {
                    <input type="hidden" value="@ViewBag.Folder.Id" name="ParentId" />
                }

            }
            <script src="~/Scripts/uploadScripts.js"></script>

        </div>
        <div id="folderUpload" class="row text-center">
            Загрузка папки
            @using (Html.BeginForm("Create", "File", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", @name = "uploadForm" }))
            {
                <span id="uploadErr" hidden>Загрузка отменена. Один из загружаемых файлов по размеру превышает 100Mb</span>
                <br />
                <input class="form-control" type="file" name="uploadedDir" id="uploadedDir" webkitdirectory directory multiple />
                <input class="form-control" type="submit" value="Загрузить" />
                <div class="progress center-block">
                    <div class="progress-bar">0%</div>
                </div>
                if (ViewBag.Folder != null)
                {
                    <input type="hidden" value="@ViewBag.Folder.Id" name="ParentId" />
                }
                <script src="~/Scripts/uploadScripts.js"></script>
            }
        </div>
        <div id="folderCreate" class="row text-center">
            Создание папки
            @using (Html.BeginForm("CreateFolder", "File", FormMethod.Post, new { @class = "form-inline" }))
            {
                <input type="text" class="form-control" name="folderName" id="folderName" />
                <input type="submit" class="form-control" value="Создать" />
                if (ViewBag.Folder != null)
                {
                    <input type="hidden" value="@ViewBag.Folder.Id" name="ParentId" />
                }
            }
        </div>

    </div>
    <table class="table table-bordered table-hover table-condense">
        <tr>
            <th>
                @Html.ActionLink("Имя", "OrderList", new { @orderBy = 2 })
            </th>
            <th>
                @Html.ActionLink("Формат", "OrderList", new { @orderBy = 4 })
            </th>
            <th>
                @Html.ActionLink("Загружен", "OrderList", new { @orderBy = 1 })
            </th>
            <th>
                @Html.ActionLink("Шаринг", "OrderList", new { @orderBy = 3 })
            </th>
            <th>
                @Html.ActionLink("Размер", "OrderList", new { @orderBy = 5 })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="fileName" onselectstart="return false">

                    @using (@Html.BeginForm("EditFileName", "File", FormMethod.Post, new { @class = "formTextEdit form-inline" }))
                    {
                        <span class="nameText">
                            @if (item.IsFile)
                            {
                                <span class="glyphicon glyphicon-file"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-folder-open" onclick="window.location.href = '@Url.Action("Index", "File", new { folderId = item.Id })'"></span>
                            }
                            <span class="spcName">@Html.DisplayFor(modelItem => item.Name)</span>
                        </span>
                        <input class="hiddenTextBox" name="fileName" type="text" value="@item.Name" />
                        <input name="fileId" type="hidden" value="@item.Id" />
                        <input class="hiddenSubmit" type="submit" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uploaded)
                </td>
                <td>
                    @if (item.Sharing_Atribute == 1)
                    {
                        @:Не расшарен
                    }
                    else if (item.Sharing_Atribute == 2)
                    {
                        if (item.Sharing_Id != null)
                        {
                            <a href="/Shared/@item.Sharing_Id">Shared/@item.Sharing_Id</a>
                        }
                        else
                        {
                            @:Расшарен внутри папки
                        }
                    }
                </td>
                <td>
                    @item.SizeAsMemory()
                </td>
                <td>

                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash" })
                    @if (item.Sharing_Atribute == 1)
                    {
                        @Html.ActionLink(" ", "ShareReadOnly", new { id = item.Id }, new { @class = "glyphicon glyphicon-share" })
                    }
                    else
                    {
                        @Html.ActionLink(" ", "ShareOwnerOnly", new { id = item.Id }, new { @class = "glyphicon glyphicon-check" })
                    }
                    @Html.ActionLink(" ", "Info", new { id = item.Id }, new { @class = "glyphicon glyphicon-info-sign" })
                    @if (item.Size <= 104857600)
                    {
                        @Html.ActionLink(" ", "Download", new { Id = item.Id }, new { @class = "glyphicon glyphicon-download" })
                    }
                    else
                    {
                        <span title="Загрузка папок более 100Mb одним архивом запрещена" style="color:red" class="glyphicon glyphicon-download"></span>
                    }

                </td>

            </tr>

        }

    </table>
    <script>
        //код для работы меню загрузки файла, загрузки папки, добавления папки.
        var singleFileUploadValue = "none";
        var folderUploadValue = "none";
        var folderCreateValue = "none";

        function forSingleFileForm() {
            if (folderUploadValue == "block") {
                forFolderForm();
            }
            if (folderCreateValue == "block") {
                forFolderCreate();
            }
            if (singleFileUploadValue == "none") {
                $("#singleFileUpload").css("display", "block");
                singleFileUploadValue = "block";
            }
            else {
                $("#uploadedFile").replaceWith($("#uploadedFile").clone());
                $("#singleFileUpload").css("display", "none");
                singleFileUploadValue = "none";
            }
        }
        function forFolderForm() {
            if (singleFileUploadValue == "block") {
                forSingleFileForm();
            }
            if (folderCreateValue == "block") {
                forFolderCreate();
            }
            if (folderUploadValue == "none") {
                $("#folderUpload").css("display", "block");
                folderUploadValue = "block";
            }
            else {
                $("#uploadedDir").replaceWith($("#uploadedDir").clone());
                $("#folderUpload").css("display", "none");
                folderUploadValue = "none";
            }
        }
        function forFolderCreate() {
            if (singleFileUploadValue == "block") {
                forSingleFileForm();
            }
            if (folderUploadValue == "block") {
                forFolderForm();
            }
            if (folderCreateValue == "none") {
                $("#folderCreate").css("display", "block");
                folderCreateValue = "block";
            }
            else {
                $("#folderCreate").css("display", "none");
                folderCreateValue = "none";
            }
        }

        //код для переименования файлов и папок
        var prevElem = null;
        $(".fileName").bind("dblclick", function () {
            if (prevElem !== null) {
                $(prevElem).find(".hiddenTextBox").css("display", "none");
                $(prevElem).find(".nameText").css("display", "block");
                if (prevElem === this) {
                    prevElem = null;
                    return;
                }
            }
            prevElem = this;
            var htb = $(this).find(".hiddenTextBox");
            var nt = $(this).find(".nameText");

            htb.val($(this).find(".spcName").html());

            htb.css("display", "block");
            htb.focus().select();
            nt.css("display", "none");
        });
    </script>
</body>

</html>
